<div class="container">
<h1 class="mb-4 text-center">Crear Tarea</h1>
<div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6 col-md-8 col-sm-10 container-form">
    <form action="" method="POST" id="crear">
        <div class="mb-3">
            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Titulo de la Tarea" >
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="descripcion" placeholder="Descripción de la Tarea" id="descripcion" cols="30" rows="10"></textarea>
        </div>
        <div class="mb-3 text-center">
            <button type="submit " class="btn btn-success btn-sccs">Guardar</button>
        </div>
    </form>
    </div>
</div>
</div>